.advantages {
  $self: &;
  background-color: $gray;
  padding-top: rem(65);
  padding-bottom: rem(18);


  &__headline {
    text-align: center;
    margin: 0 auto;
  }

  &__items {
    @include row-flex();
    padding: rem(60) 0;
    justify-content: center;
  }

  &__item {
    @include col();

    display: flex;
    flex-direction: column;

    width: rem(320);
    margin-top: rem(15);
    margin-bottom: rem(15);
    background-color: #fff;
    padding: rem(43) rem(36);
    border-radius: rem(10);

    &--shadow {
      box-shadow: 0 rem(3) rem(16) rem(8) rgba($color: #000000, $alpha: 0.05);
    }

    &-title {
      font-weight: 500;
      font-size: rem(20);
      line-height: rem(23);
      text-align: center;
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      padding-top: rem(27);
    }

    &-icon {
      align-self: center;
      // margin-bottom: rem(28);
    }
  }
}
